<template>
	<div>
		<div class="input-boolean-wrapper">
			<label>{{ falseLabel }}</label>
			<input type="radio" value="false" :checked="!value" @click="onClick" />
		</div>
		<div class="input-boolean-wrapper">
			<label>{{ trueLabel }}</label>
			<input type="radio" value="true" :checked="value" @click="onClick" />
		</div>
	</div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
	props: {
		name: String,
		value: Boolean,
		falseLabel: String,
		trueLabel: String,
	}
})
export default class BooleanInput extends Vue {
	private name!: string;
	private value!: boolean;
	private falseLabel!: string;
	private trueLabel!: string;

	private onClick(event: Event): void {
		this.$store.commit(this.name, (event.target as HTMLInputElement).value === 'true');
	}
}
</script>

<style lang="scss">
.input-boolean-wrapper {
	font-family: monospace;
	text-align: right;
}
</style>
