<template>
	<div>
		<button class="input-button" @click="onClick">{{ label }}</button>
	</div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
	props: {
		name: String,
		label: String,
		param: String,
	}
})
export default class ButtonInput extends Vue {
	private name!: string;
	private label!: string;
	private param!: string;

	private onClick(): void {
		this.$store.dispatch(this.name, this.param);
	}
}
</script>

<style lang="scss">
button {
	font-family: monospace;
	border: solid 2px #c98135;
	padding: 0.5em;
	min-width: 3em;
}
.input-button {
	min-width: 100px;
	max-width: 130px;
}
</style>
