<template>
	<div>
		<input type="color" :value="value" @change="onChange" />
	</div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
	props: {
		name: String,
		value: String,
	}
})
export default class ColorInput extends Vue {
	private name!: string;
	private value!: string;

	private onChange(event: Event): void {
		this.$store.commit(this.name, (event.target as HTMLInputElement).value);
	}
}
</script>

<style lang="scss">

</style>
