<template>
	<div>
		<select @change="onChange">
			<option v-for="option, index in options"
				:key="index"
				:value="option.key"
				:disabled=option.isDisabled>
				{{ option.value }}
				</option>
		</select>
	</div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import IOption from '@/app/store/models/IOption';

@Options({
	props: {
		name: String,
		value: String,
		options: undefined,
	}
})
export default class TextInput extends Vue {
	private name!: string;
	private value!: string;
	private options!: IOption[];

	private onChange(event: Event): void {
		this.$store.commit(this.name, (event.target as HTMLInputElement).value);
	}
}
</script>

<style lang="scss">

</style>
