<template>
	<div class="input-number-container">
		<div>
			<button @click="onDecrementClick">{{ decrementLabel }}</button>
		</div>
		<div>
			<input type="number" v-model="value" class="input-number" readonly />
		</div>
		<div>
			<button @click="onIncrementClick">{{ incrementLabel }}</button>
		</div>
	</div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
	props: {
		name: String,
		value: Number,
		decrementLabel: String,
		incrementLabel: String,
		min: Number,
		max: Number,
	}
})
export default class NumberInput extends Vue {
	private name!: string;
	private value!: number;
	private decrementLabel!: string;
	private incrementLabel!: string;
	private min!: number;
	private max!: number;

	private onDecrementClick(): void {
		if (this.min === undefined || this.value - 1 >= this.min)
			this.$store.commit(this.name, this.value - 1);
	}

	private onIncrementClick(): void {
		if (this.max == null || this.value - 1 <= this.max)
			this.$store.commit(this.name, this.value + 1);
	}
}
</script>

<style lang="scss">
.input-number-container {
	display: flex;
	font-family: monospace;
}
.input-number {
	height: 18px;
	padding: 0 0 0 2px;
	appearance: none;
	max-width: 50px;
	outline: none;
	max-width: 30px;
	min-height: 2.1em;
}
</style>
