<template>
	<div class="input-time-container">
		<div class="input-number-container">
			<label>M</label>
			<div>
				<button @click="onMinuteDecrementClick">{{ decrementLabel }}</button>
			</div>
			<div>
				<input type="number" v-model="minutes" class="input-number" readonly />
			</div>
			<div>
				<button @click="onMinuteIncrementClick">{{ incrementLabel }}</button>
			</div>
		</div>
		&ensp;&ensp;
		<div class="input-number-container">
			<label>S</label>
			<div>
				<button @click="onSecondDecrementClick">{{ decrementLabel }}</button>
			</div>
			<div>
				<input type="number" v-model="seconds" class="input-number" readonly />
			</div>
			<div>
				<button @click="onSecondIncrementClick">{{ incrementLabel }}</button>
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import { mixins } from '@/app/mixins';

@Options({
	mixins: [ mixins ],
	props: {
		name: String,
		value: String,
		decrementLabel: String,
		incrementLabel: String,
	}
})
export default class NumberInput extends Vue {
	private minutes: number = 0;
	private seconds: number = 0;

	private name!: string;
	private value!: string;
	private decrementLabel!: string;
	private incrementLabel!: string;

	public beforeMount() {
		const [min, sec] = this.value.split(':');
		this.minutes = parseInt(min);
		this.seconds = parseInt(sec);
	}

	private onMinuteDecrementClick(): void {
		if (this.minutes - 1 >= 0) {
			let [min, sec] = this.value.split(':');
			const time = `${mixins.methods.padLeft(parseInt(min) - 1, 2)}:${sec}`;
			this.$store.commit(this.name, time);
			this.minutes--;
		}
	}

	private onMinuteIncrementClick(): void {
		if (this.minutes + 1 < 100) {
			let [min, sec] = this.value.split(':');
			const time = `${mixins.methods.padLeft(parseInt(min) + 1, 2)}:${sec}`;
			this.$store.commit(this.name, time);
			this.minutes++;
		}
	}

	private onSecondDecrementClick(): void {
		if (this.seconds - 1 >= 0) {
			let [min, sec] = this.value.split(':');
			const time = `${min}:${mixins.methods.padLeft(parseInt(sec) - 1, 2)}`;
			this.$store.commit(this.name, time);
			this.seconds--;
		}
	}

	private onSecondIncrementClick(): void {
		if (this.seconds + 1 < 60) {
			let [min, sec] = this.value.split(':');
			const time = `${min}:${mixins.methods.padLeft(parseInt(sec) + 1, 2)}`;
			this.$store.commit(this.name, time);
			this.seconds++;
		}
	}
}
</script>

<style lang="scss">
.input-time-container {
	display: flex;

	label {
		margin-right: 4px;
	}
}
</style>
