<template>
	<div class="addisplay" :style="imageUrl === '' ? 'display:none' : `background-image:url('${imageUrl}')`"></div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
	watch: {
		time: 'onTimeChange',
	}
})
export default class AdDisplay extends Vue {
	private imageUrl: string = '';
	private internalImageUrls = [
		'/assets/pic/ad/nail-biter.webp',
		'/assets/pic/ad/shirts-off.webp',
		'/assets/pic/ad/spongebob.webp',
	];

	private adBreaks: { period: number, time: string }[] = [
		{ period: 1, time: '03:15' },
		{ period: 1, time: '02:42' },
		{ period: 1, time: '02:15' },
		{ period: 1, time: '01:05' },
		{ period: 1, time: '00:47' },
		{ period: 1, time: '00:25' },
		{ period: 2, time: '02:50' },
		{ period: 2, time: '02:27' },
		{ period: 2, time: '02:02' },
		{ period: 2, time: '01:38' },
		{ period: 2, time: '00:33' },
		{ period: 3, time: '02:44' },
		{ period: 3, time: '02:12' },
		{ period: 3, time: '01:37' },
		{ period: 3, time: '01:12' },
		{ period: 3, time: '00:50' },
		{ period: 3, time: '00:30' },
	];

	private get externalImageUrls(): string[] { return this.$store!.getters['SystemModule/mediaPics'].ad }
	private get imageUrls(): string[] { return this.internalImageUrls.concat(this.externalImageUrls)}
	private get period(): number { return this.$store.getters['GameModule/period'] }
	private get time(): string { return this.$store.getters['GameModule/time'] }

	public onTimeChange(): void {
		if (this.adBreaks.some(x => x.period === this.period && x.time === this.time)) {
			if (this.fiftyFifty()) {
				this.randomImage();
				setTimeout(() => {
					this.imageUrl = '';
				}, 10000);
			}
		}
	}

	private fiftyFifty(): boolean {
		return Math.floor(Math.random() * 2) === 0;
	}

	private randomImage(): void {
		const rand = Math.floor(Math.random() * this.imageUrls.length);				
		this.imageUrl = this.imageUrls[rand];
	}
}
</script>

<style lang="scss">
.addisplay {
	height: 100%;
	margin: 0 8px 8px;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
</style>
