<template>
	<div :class="['modal', isVisible ? 'show' : '']" @click="onModalBgClick">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="heder-label">{{ getWinnerName() }} is the winner!</h1>
				<span class="modal-close-icon" @click="closeModal"></span>
			</div>
			<div class="modal-body text-center">
				<img :src="imageUrl" />
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import { Options } from 'vue-class-component';
import BaseModal from '@/app/components/BaseModal';

@Options({
	watch: {
		isVisible: 'onIsVisibleChange',
	}
})
export default class GameOverModal extends BaseModal {
	private imageUrl = '';
	private internalImageUrls = [
		'/assets/pic/gameover/cat.webp',
		'/assets/pic/gameover/game_win_01.gif',
	];

	private get extrenalImageUrls(): string[] { return this.$store!.getters['SystemModule/mediaPics'].gameover }
	private get imageUrls(): string[] { return this.internalImageUrls.concat(this.extrenalImageUrls) }
	public get teamOneName(): string { return this.$store!.getters['SystemModule/teamOneName'] }
	public get teamTwoName(): string { return this.$store!.getters['SystemModule/teamTwoName'] }
	public get teamOneScore(): number { return this.$store!.getters['GameModule/teamOneScore'] }
	public get teamTwoScore(): number { return this.$store!.getters['GameModule/teamTwoScore'] }

	public beforeMount() {
		this.name = 'GameOverModal';
	}

	private getWinnerName(): string {
		return this.teamOneScore > this.teamTwoScore
			? this.teamOneName
			: this.teamTwoName;
	}

	public onIsVisibleChange(): void {
		if (this.isVisible) {
			this.randomImage();
		}
	}

	private randomImage(): void {
		const rand = Math.floor(Math.random() * this.imageUrls.length);				
		this.imageUrl = this.imageUrls[rand];
	}
}
</script>

<style lang="scss">

</style>
