<template>
	<div :class="['modal', isVisible ? 'show' : '']" @click="onModalBgClick">
		<div class="modal-content modal-transparent">
			<div class="modal-header">
				<h1 v-html="headerText"></h1>
			</div>
			<div class="modal-body text-center">
				<img :src="imageUrl" />
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import { Options } from 'vue-class-component';
import BaseModal from '@/app/components/BaseModal';

@Options({
	watch: {
		isVisible: 'onIsVisibleChange',
	}
})
export default class PauseModal extends BaseModal {
	private headerText = '';
	private imageUrl = '';
	private internalImageUrls = [
		'/assets/pic/pause/cat.webp',
		'/assets/pic/pause/dancing-dude.webp',
		'/assets/pic/pause/hair.webp',
		'/assets/pic/pause/nfl-guys.webp',
		'/assets/pic/pause/penguins.webp',
	];

	private get externalImageUrls(): string[] { return this.$store!.getters['SystemModule/mediaPics'].pause }
	private get headerTexts(): string[] { return ['Paused'].concat(this.$store!.getters['SystemModule/mediaText'].pause) }
	private get imageUrls(): string[] { return this.internalImageUrls.concat(this.externalImageUrls) }

	public beforeMount() {
		this.name = 'PauseModal';
	}

	public onIsVisibleChange(): void {
		if (this.isVisible) {
			this.randomMessage();
			this.randomImage();
		}
	}

	private randomMessage(): void {
		const rand = Math.floor(Math.random() * this.headerTexts.length);				
		this.headerText = this.headerTexts[rand];
	}

	private randomImage(): void {
		const rand = Math.floor(Math.random() * this.imageUrls.length);				
		this.imageUrl = this.imageUrls[rand];
	}
}
</script>

<style lang="scss">
.modal-transparent {
	background-color: transparent !important;
	border: none !important;

	.modal-header {
		border: none !important;
		h1 {
			text-align: center;
			font-family: Scoreboard;
		} 
	}
}

.modal-body {
	img {
		height: 65vh;
	}
}
</style>
