<template>
	<div :class="'perioddot ' + getClass()"></div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
	props: {
		state: Number,
	}
})
export default class PeriodDot extends Vue {
	private state!: number;

	private getClass(): string {
		if (this.state === 0) return 'perioddot-inactive';
		if (this.state === 1) return 'perioddot-active';
		return 'perioddot-passed';
	}
}
</script>

<style lang="scss">
$light-off: #111111;
$light-active: #11d700;
$light-inactive: #aaaaaa;

.perioddot {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	margin: 0 8px;
	display: inline-block;

	&.perioddot-inactive {
		background-color: $light-off;
	}
	&.perioddot-active {
		background-color: $light-active;
		box-shadow: 0 0 12px 2px $light-active;
	}
	&.perioddot-passed {
		background-color: $light-inactive;
		box-shadow: 0 0 8px 1px $light-inactive;
	}
}
</style>
