<template>
	<div>
		<h3 :class="['header-label', teamNum === 2 ? 'text-right' : '']">Score</h3>
		<div :class="['scoredisplay', 'digital', isInGoalPausedState ? 'flash' : '']">
			{{ padLeft(score, 2) }}
		</div>
	</div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import { GameState } from '@/app/game/GameState';
import { mixins } from '@/app/mixins';

@Options({
	mixins: [ mixins ],
	props: {
		score: Number,
		teamNum: Number,
	}
})
export default class ScoreDisplay extends Vue {
	private score!: number;
	private teamNum!: number;

	private get gameState(): GameState { return this.$store.getters['GameModule/gameState'] }
	private get isInGoalPausedState(): boolean { return this.gameState === GameState.GOALPAUSED }
}
</script>

<style lang="scss">
$bgColor: #000;
$flashBgColor1: #ff0000;
$flashBgColor2: #ffc300;
$flashBgColor3: #00ff22;
$flashBgColor4: #5400ff;
$flashBgColor5: #ee82ee;
$flashTextColor: #fff;

.scoredisplay {
	background-color: #000;
	padding: 0.2em;
	text-align: center;
	font-size: 9em;
	min-height: 150px;

	&.flash {
		color: $flashTextColor;
		text-shadow: 0 0 15px $flashTextColor;

		animation-name: scoreDisplayStrobe;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
	}
}

@keyframes scoreDisplayStrobe {
	0% { background: $flashBgColor1; }
	20% { background: $flashBgColor2; }
	40% { background: $flashBgColor3; }
	60% { background: $flashBgColor4; }
	80% { background: $flashBgColor5; }
	100% { background: $flashBgColor1; }
}
</style>
