<template>
	<div class="settings-icon-wrapper">
		<span class="hamburger"></span>
	</div>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component';

export default class SettingsIcon extends Vue {

}
</script>

<style lang="scss">
.settings-icon-wrapper{
	position: fixed;
	bottom: 0.5em;
	right: 0.5em;
	cursor: pointer;
}
.hamburger {
	position: relative;
	display: inline-block;
	width: 1.25em;
	height: 0.8em;
	border-top: 0.2em solid #fff;
	border-bottom: 0.2em solid #fff;
}
.hamburger:before {
	content: "";
	position: absolute;
	top: 0.3em;
	left: 0px;
	width: 100%;
	border-top: 0.2em solid #fff;
}
</style>
