<template>
	<div class="setting-wrapper">
		<label class="setting-label">{{ label }}</label>
		<div class="setting-control-wrapper">
			
			<BooleanInput v-if="type === 'boolean'"
				:name="name"
				:value="value"
				:falseLabel="buttonLabel1"
				:trueLabel="buttonLabel2" />
			
			<ButtonInput v-if="type === 'button'"
				:name="name"
				:label="buttonLabel1"
				:param="param" />
			
			<ColorInput v-if="type === 'color'"
				:name="name"
				:value="value" />

			<DropdownInput v-if="type === 'select'"
				:name="name"
				:value="value"
				:options="options" />

			<NumberInput v-if="type === 'number'"
				:name="name"
				:value="value"
				:decrementLabel="buttonLabel1"
				:incrementLabel="buttonLabel2"
				:min="min"
				:max="max" />

			<TextInput v-if="type === 'text'"
				:name="name"
				:value="value"
				:max="max" />

			<TimeInput v-if="type === 'time'"
				:name="name"
				:value="value"
				:decrementLabel="buttonLabel1"
				:incrementLabel="buttonLabel2" />

		</div>
	</div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import BooleanInput from '@/app/components/controls/BooleanInput.vue';
import ButtonInput from '@/app/components/controls/ButtonInput.vue';
import ColorInput from '@/app/components/controls/ColorInput.vue';
import DropdownInput from '@/app/components/controls/DropdownInput.vue';
import IOption from '@/app/store/models/IOption';
import NumberInput from '@/app/components/controls/NumberInput.vue';
import TextInput from '@/app/components/controls/TextInput.vue';
import TimeInput from '@/app/components/controls/TimeInput.vue';

@Options({
	components: {
		BooleanInput,
		ButtonInput,
		ColorInput,
		DropdownInput,
		NumberInput,
		TextInput,
		TimeInput,
	},
	props: {
		buttonLabel1: String,
		buttonLabel2: String,
		name: String,
		label: String,
		type: String,
		value: undefined,
		options: undefined,
		min: Number,
		max: Number,
		param: String,
	},
})
export default class SettingsOption extends Vue {
	private buttonLabel1!: string;
	private buttonLabel2!: string;
	private name!: string;
	private label!: string;
	private type!: string;
	private value!: boolean | number | string;
	private options!: IOption[];
	private min!: number;
	private max!: number;
	private param!: string;
}
</script>

<style lang="scss">
.setting-wrapper {
	display: flex;
}
.setting-label {
	flex: 0 0 75%;
	font-family: monospace;
}
.setting-control-wrapper {
	flex: 0 0 25%;
	text-align: center;
	display: contents;
}
</style>
