<template>
	<div :class="['modal', isVisible ? 'show' : '']" @click="onModalBgClick">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="header-label">Settings</h1>
				<span class="modal-close-icon" @click="closeModal"></span>
			</div>
			<div class="modal-body">

				<ul class="settings-list">
					<li>
						<SettingsOption
							:name="'GameModule/teamOneScore'"
							:value="$store.getters['GameModule/teamOneScore']"
							:label="'Team #1 Score'"
							:type="'number'"
							:buttonLabel1="'-'"
							:buttonLabel2="'+'"
							:min="0" />
					</li>
					<li>
						<SettingsOption
							:name="'GameModule/teamTwoScore'"
							:value="$store.getters['GameModule/teamTwoScore']"
							:label="'Team #2 Score'"
							:type="'number'"
							:buttonLabel1="'-'"
							:buttonLabel2="'+'"
							:min="0" />
					</li>
					<li>
						<SettingsOption
							:name="'GameModule/startGame'"
							:label="'Start Game'"
							:type="'button'"
							:buttonLabel1="'Start Game'"
							@click="closeModal" />
					</li>
					<li>
						<SettingsOption
							:name="'GameModule/restartGame'"
							:label="'Restart Game'"
							:type="'button'"
							:buttonLabel1="'Restart Game'"
							@click="closeModal" />
					</li>
					<li><hr /></li>
					<li>
						<SettingsOption
							:name="'SystemModule/soundOnOff'"
							:value="$store.getters['SystemModule/soundOnOff']"
							:label="'Sound On / Off'"
							:type="'boolean'"
							:buttonLabel1="'Off'"
							:buttonLabel2="'On'" />
					</li>
					<li>
						<SettingsOption
							:name="'SystemModule/exit'"
							:label="'Exit Game'"
							:type="'button'"
							:buttonLabel1="'Exit'" />
					</li>
					<li>
						<SettingsOption
							:name="'SystemModule/shutdown'"
							:label="'Power System Off'"
							:type="'button'"
							:buttonLabel1="'Shutdown'" />
					</li>
				</ul>

				<a href="#" class="advanced-settings-toggle" @click="toggleShowAdvancedSettings()">Show/Hide Advanced Settings</a>
				
				<div v-show="isAdvancedSettingsVisible" class="advanced-settings">
					<ul class="settings-list">
						<li>
							<SettingsOption
								:name="'SystemModule/teamOneName'"
								:label="'Team #1 Name'"
								:type="'text'"
								:value="$store.getters['SystemModule/teamOneName']"
								:max="30" />
						</li>
						<li>
							<SettingsOption
								:name="'SystemModule/teamTwoName'"
								:label="'Team #2 Name'"
								:type="'text'"
								:value="$store.getters['SystemModule/teamTwoName']"
								:max="30" />
						</li>
						<li>
							<SettingsOption
								:name="'SystemModule/teamOneLogoUrl'"
								:label="'Team #1 Logo'"
								:type="'select'"
								:value="$store.getters['SystemModule/teamOneLogoUrl']"
								:options="$store.getters['SystemModule/teamLogoOptions']" />
						</li>
						<li v-show="$store.getters['SystemModule/teamOneLogoUrl'] === 'COLOR'">
							<SettingsOption
								:name="'SystemModule/teamOneColor'"
								:label="''"
								:type="'color'"
								:value="$store.getters['SystemModule/teamOneColor']" />
						</li>
						<li>
							<SettingsOption
								:name="'SystemModule/teamTwoLogoUrl'"
								:label="'Team #2 Logo'"
								:type="'select'"
								:value="$store.getters['SystemModule/teamTwoLogoUrl']"
								:options="$store.getters['SystemModule/teamLogoOptions']" />
						</li>
						<li v-show="$store.getters['SystemModule/teamTwoLogoUrl'] === 'COLOR'">
							<SettingsOption
								:name="'SystemModule/teamTwoColor'"
								:label="''"
								:type="'color'"
								:value="$store.getters['SystemModule/teamTwoColor']" />
						</li>

						<li>
							<SettingsOption
								:name="'SystemModule/pauseOnGoalPressResume'"
								:value="$store.getters['SystemModule/pauseOnGoalPressResume']"
								:label="'Press button to resume after a goal'"
								:type="'boolean'"
								:buttonLabel1="'No'"
								:buttonLabel2="'Yes'" />
						</li>
						<li v-show="!$store.getters['SystemModule/pauseOnGoalPressResume']">
							<SettingsOption
								:name="'SystemModule/pauseOnGoalTime'"
								:value="$store.getters['SystemModule/pauseOnGoalTime']"
								:label="'Goal pause length'"
								:type="'number'"
								:buttonLabel1="'-'"
								:buttonLabel2="'+'"
								:min="0" />
						</li>

						<li>
							<SettingsOption
								:name="'SystemModule/periodLength'"
								:value="$store.getters['SystemModule/periodLength']"
								:label="'Period Length'"
								:type="'time'"
								:buttonLabel1="'-'"
								:buttonLabel2="'+'" />
						</li>
						<li>
							<SettingsOption
								:name="'SystemModule/overtimeMode'"
								:value="$store.getters['SystemModule/overtimeMode']"
								:label="'Overtime Mode'"
								:type="'boolean'"
								:buttonLabel1="'Normal Period'"
								:buttonLabel2="'Sudden Death'" />
						</li>
						<li v-show="!$store.getters['SystemModule/overtimeMode']">
							<SettingsOption
								:name="'SystemModule/periodLengthOvertime'"
								:value="$store.getters['SystemModule/periodLengthOvertime']"
								:label="'OT Period Length'"
								:type="'time'"
								:buttonLabel1="'-'"
								:buttonLabel2="'+'" />
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</template>

<script lang="ts">
import { Options } from 'vue-class-component';
import BaseModal from '@/app/components/BaseModal';
import SettingsOption from '@/app/components/SettingsOption.vue';

@Options({
	components: {
		SettingsOption,
	}
})
export default class SettingsModal extends BaseModal {
	public beforeMount() {
		this.name = 'SettingsModal';
	}

	private isAdvancedSettingsVisible: boolean = false;

	private toggleShowAdvancedSettings(): void {
		this.isAdvancedSettingsVisible = !this.isAdvancedSettingsVisible;
	}
}
</script>

<style lang="scss">
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	background-color: rgba(0,0,0,0.4);

	&.show {
		display: block;
	}

	.modal-content {
		background-color: #33200b;
		margin: 5% auto;
		border: 1px solid #000;
		width: 90%;
		position: relative;
	}

	.modal-header {
		padding: 0 1em;
		border-bottom: 1px solid #000;
	}
	.modal-body {
		padding: 1em;
	}
}
.advanced-settings-toggle {
	display: block;
	margin-top: 2em;
	color: #fff;
	font-family: monospace;
	font-size: 1.5em;
	text-decoration: none;
	&:hover {
		text-shadow: 0 0 5px #fff;
	}
}
.modal-close-icon {
	font-size: 2.25em;
	position: absolute;
	top: 0.25em;
	right: 0.5em;
	cursor: pointer;
	&:after{
		display: inline-block;
		content: "\00d7";
	}
}

.settings-list {
	padding: 0;

	li {
		list-style: none;
		margin: 0 0 1.5em;

		& > div {
			padding-left: 1em;
		}
	}
}
</style>
