<template>
	<div class="teamlogo">
		<h3 :class="['header-label', teamNum === 2 ? 'text-right' : '']">{{ teamName }}</h3>
		<template v-if="teamLogoUrl === 'COLOR'">
			<div class="logo-container" :style="`background-color:${teamColor}`"></div>
		</template>
		<template v-else>
			<div class="logo-container image" :style="`background-image:url('${teamLogoUrl}')`"></div>
		</template>
	</div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
	props: {
		teamName: String,
		teamColor: String,
		teamLogoUrl: String,
		teamNum: Number,
	}
})
export default class TeamLogo extends Vue {
	private teamName!: string;
	private teamColor!: string;
	private teamLogoUrl!: string;
	private teamNum!: number;
}
</script>

<style lang="scss">
.teamlogo {
	height: 100%;
}
.logo-container {
	border: 1px solid #000;
	padding: 0.2em;
	height: 70%;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	&.image {
		border: none;
	}
}
</style>
