<template>
	<div class="timedisplay-wrapper">
		<h3 class="header-label">Time</h3>
		<div class="timedisplay digital">
			<template v-if="isInGoalPausedState()">
				GOAL!!!
			</template>
			<template v-else>
				{{ time }}
			</template>
		</div>

		<div class="perioddisplay">
			<PeriodDot :state="getPeriodState(1)" />
			<PeriodDot :state="getPeriodState(2)" />
			<PeriodDot :state="getPeriodState(3)" />
			<PeriodDot :state="getPeriodState(4)" />
		</div>
	</div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import { GameState } from '@/app/game/GameState';
import PeriodDot from '@/app/components/PeriodDot.vue';

@Options({
	components: {
		PeriodDot,
	},
	props: {
		period: Number,
		time: String,
	}
})
export default class TimeDisplay extends Vue {
	private period!: number;
	private time!: string;

	private get gameState(): GameState { return this.$store.getters['GameModule/gameState'] }

	private getPeriodState(periodDotNumber: number): number {
		// 0 = inactive, 1 = active, 2 = passed
		if (this.period === periodDotNumber) return 1;
		if (this.period > periodDotNumber) return 2;
		return 0;
	}

	private isInGoalPausedState(): boolean {
		return this.gameState === GameState.GOALPAUSED;
	}
}
</script>

<style lang="scss">
.timedisplay-wrapper {
	margin: 1em 2em;

	h3 {
		text-align: center;
	}

	.timedisplay {
		background-color: #000;
		padding: 0.1em;
		margin: 0 0.25em;
		text-align: center;
		font-size: 5em;
	}

	.perioddisplay {
		margin-top: 1em;
		text-align: center;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}
</style>
