<template>
	<div class="grid-wrapper">
		<div class="gridcell-1">
			<TeamLogo
				:teamName="$store.getters['SystemModule/teamOneName']"
				:teamColor="$store.getters['SystemModule/teamOneColor']"
				:teamLogoUrl="$store.getters['SystemModule/teamOneLogoUrl']"
				:teamNum="1" />
		</div>

		<div class="gridcell-2">
			<TimeDisplay :period="$store.getters['GameModule/period']" :time="$store.getters['GameModule/time']" />
		</div>

		<div class="gridcell-3">
			<TeamLogo
				:teamName="$store.getters['SystemModule/teamTwoName']"
				:teamColor="$store.getters['SystemModule/teamTwoColor']"
				:teamLogoUrl="$store.getters['SystemModule/teamTwoLogoUrl']"
				:teamNum="2" />
		</div>

		<div class="gridcell-4">
			<ScoreDisplay :score="$store.getters['GameModule/teamOneScore']" :teamNum="1" />
		</div>

		<div class="gridcell-5">
			<AdDisplay />
		</div>

		<div class="gridcell-6">
			<ScoreDisplay :score="$store.getters['GameModule/teamTwoScore']" :teamNum="2" />
		</div>
	</div>
	
	<SettingsIcon @click="onSettingsIconClick" />

	<GameOverModal :isVisible="isGameOverVisible" @closeGameOverModal="closeGameOverModal()" />
	<PauseModal :isVisible="isPaused" />
	<SettingsModal :isVisible="isSettingsVisible" @closeSettingsModal="closeSettingsModal()" />
</template>

<script lang="ts">
const { ipcRenderer } = window.require('electron');
import { Options, Vue } from 'vue-class-component';
import AdDisplay from '@/app/components/AdDisplay.vue'; 
import GameOverModal from '@/app/components/GameOverModal.vue'; 
import { GameState } from '@/app/game/GameState';
import PauseModal from '@/app/components/PauseModal.vue';
import ScoreDisplay from '@/app/components/ScoreDisplay.vue';
import SettingsIcon from '@/app/components/SettingsIcon.vue';
import SettingsModal from '@/app/components/SettingsModal.vue';
import TeamLogo from '@/app/components/TeamLogo.vue';
import TimeDisplay from '@/app/components/TimeDisplay.vue';

@Options({
	components: {
		AdDisplay,
		GameOverModal,
		PauseModal,
		ScoreDisplay,
		SettingsIcon,
		SettingsModal,
		TeamLogo,
		TimeDisplay,
	},
	watch: {
		gameState: 'onGameStateChange',
	}
})
export default class App extends Vue {
	private isGameOverVisible = false;
	private isSettingsVisible = false;

	private get gameState(): GameState { return this.$store.getters['GameModule/gameState'] }
	private get isPaused(): boolean { return this.gameState === GameState.PAUSED }

	public mounted(): void {
		this.bindKeyboardEvents();
		this.bindTableEvents();
		this.$store!.dispatch('SystemModule/loadMedia');
	}

	private bindKeyboardEvents(): void {
		document.addEventListener('keydown', event => {
			switch (event.key) {
				case ' ':
					this.$store.dispatch('GameModule/buttonPush');
					break;
				case 'Escape':
					if (this.isSettingsVisible) this.closeSettingsModal();
					else this.onSettingsIconClick();
					break;
				case 'a':
					this.$store.dispatch('GameModule/goalScore', 1);
					break;
				case 'h':
					this.$store.dispatch('GameModule/goalScore', 2);
					break;
			}
		});
	}

	private bindTableEvents(): void {
		ipcRenderer.on('buttonPush', () => {
			this.$store.dispatch('GameModule/buttonPush');
		});
		ipcRenderer.on('goalScore', (event, teamNum) => {
			this.$store.dispatch('GameModule/goalScore', teamNum);
		});
	}

	private onSettingsIconClick(): void {
		if (this.gameState === GameState.RUNNING) {
			this.$store!.dispatch('GameModule/settingsPause');
		}

		this.isSettingsVisible = true;
	}

	private closeGameOverModal(): void {
		this.isGameOverVisible = false;
	}

	private closeSettingsModal(): void {		
		if (this.gameState === GameState.SETTINGSPAUSED) {
			this.$store!.dispatch('GameModule/settingsUnpause');
		}

		this.isSettingsVisible = false;
	}

	private onGameStateChange() {
		if (this.gameState === GameState.OVER) {
			this.isGameOverVisible = true;
			setTimeout(() => { this.isGameOverVisible = false }, 5000);
		}
	}
}
</script>

<style lang="scss">
$digital-color: #00ff55;

@font-face {
	font-family: 'junegull';
	src: url('/assets/fonts/junegull.ttf') format('truetype');
}
@font-face {
	font-family: 'Scoreboard';
	src: url('/assets/fonts/scoreboard.ttf') format('truetype');
}


* {
	user-select: none;
}

html {
	opacity: 0.9;
	background-image: linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #080808 25%);
	background-position: 4px 0, 4px 0, 0 0, 0 0;
	background-size: 4px 4px;
	background-repeat: repeat;
}

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #bfbfbf;

	position: absolute;
	top: 6px;
	bottom: 6px;
	left: 6px;
	right: 6px;
}

.grid-wrapper {	
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 0.2em;
	grid-auto-rows: minmax(100px, auto);

	.gridcell-1 {
		grid-column: 1 / 4;
		grid-row: 1;
	}
	.gridcell-2 {
		grid-column: 4 / 10;
		grid-row: 1;
	}
	.gridcell-3 {
		grid-column: 10 / 13;
		grid-row: 1;
	}
	.gridcell-4 {
		grid-column: 1 / 5;
		grid-row: 2;
	}
	.gridcell-5 {
		grid-column: 5 / 9;
		grid-row: 2;
	}
	.gridcell-6 {
		grid-column: 9 / 13;
		grid-row: 2;
	}

	.gridcell-1, .gridcell-2, .gridcell-3, .gridcell-4, .gridcell-5, .gridcell-6 > div {
		cursor: none;
	}
}

.digital {
	font-family: Scoreboard;
	color: $digital-color;
	text-shadow: 0 0 10px $digital-color;
}

.header-label {
	font-family: junegull;
	font-size: 1.8em;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
</style>
